body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.element {
    height: 200px;
    width: 200px;
    background-color: rgb(230, 60, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    border-radius: 25px;
}

.element img {
    max-width: 100%;
    max-height: 100%;

    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.element:hover img {
    animation-play-state: running;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}