.element{
    height: 200px;
    width: 200px;
    background-color: rgb(230, 60, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    border-radius: 25px;


    animation-name: spin;
    animation-duration: infinite;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.element:hover{
    animation-play-state: running;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    border-radius: 50%;}
}
